<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <title>ColorConvert</title>
</head>
<body>
    <%- include('../components/hero/hero'); %>
    <%- include('../components/formColor/formColor'); %>
    <%- include('../components/resultColor/resultColor'); %>

    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>