.content-banner {
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    position: relative;
}

.content-banner::before,
.content-banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.content-banner::before {
    background-image: url(/banner.jpg);
    background-size: 100% 100%;
    z-index: 1;
}

.content-banner::after {
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}
.content-banner img,
.content-banner h1,
.content-banner p {
    z-index: 5;
    position: relative;
}
.content-banner img{
    width: 200px;
    height: 200px;
}
.content-banner h1 {
    font-size: 50px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.content-banner p {
    font-size: 25px;
    color: rgb(194, 191, 191);
}