.result-container {

    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;

}

.result-container .result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.result .result-color {
    padding: 10px;
    width: 100px;
    cursor: pointer;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.219), transparent);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.result-color>div {
    width: 20px;
    height: 20px;
    outline: 1px solid white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.result-color p {
    margin-bottom: .5rem;
    font-size: 22px;
}
.copy-message-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate( -50%, 0);
}
.copy-message {
    opacity: 0;
    margin-bottom: 1rem;
    background:rgb(110, 57, 49);
    padding: 5px 1rem;
    border-radius: 20px;
    transition: opacity 0.5s ease-in-out;
}

.copy-message.show {
    opacity: 1;
}