<div class="content-form">
    <form action="/color" method="post">
        <input type="text" id="color" name="color" autocomplete="off"
            placeholder=" RGB, RGBA,HEX, HSL, HSV, CMYK LAB o XYZ">
        <button type="submit"><i class='bx bx-search'></i></button>
    </form>
</div>