<div class="content-banner">
    <img src="/logo.png" alt="ColorConver Imagen" title="ColorConver">
    <h1>Tu explorador de Colores</h1>
    <p>Explora, convierte y juega con el espectro de colores</p>
</div>